<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Danh mục sản phẩm - PETbot</title>
    <link rel="icon" href="/img/logo/logoPETbot.png" type="image/gif" sizes="16x16">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
</head>
<body>

<!--<Header>-->
<% include include/header.ejs %>
<!--</Header>-->

<div class="breadcrumb">
    <div class="container">
        <div class="mybreadcrumb">
            <a href="/">Trang chủ</a>
            <span>&nbsp;&gt;&nbsp;</span>
            <a href="/products">Sản phẩm</a>
        </div>
    </div>
</div>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-3 pr-3">
                <aside>
                    <div class="col-aside">
                        <div class="categories mb-4">
                            <h5>Danh Mục</h5>
                            <ul>
                                <li>
                                    <div>
                                        <a href="#">Chai Nhựa</a>
                                        <input class="d-none" id="checkbox-modal-1" type="checkbox">
                                        <label for="checkbox-modal-1" class="categories-btn float-right"><i class="fas fa-plus"></i></label>
                                    </div>
                                    <div class="d-categories">
                                        <ul>
                                            <li> Chai đựng đồ uống</li>
                                            <li> Chai đựng chất hóa học</li>
                                            <li> Chai đựng dược phẩm</li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <a href="#">Lọ Nhựa</a>
                                        <input class="d-none" id="checkbox2" type="checkbox">
                                        <label for="checkbox2" class="categories-btn float-right"><i class="fas fa-plus"></i></label>
                                    </div>
                                    <div class="d-categories">
                                        <ul>
                                            <li> Lọ gia vị</li>
                                            <li> Lọ đựng chất hóa học</li>
                                            <li> Lọ đựng mỹ phẩm</li>
                                            <li> Lọ trang trí</li>
                                            <li> Lọ thực phẩm</li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <a href="#">Bình Nhựa</a>
                                        <input class="d-none" id="checkbox3" type="checkbox">
                                        <label for="checkbox3" class="categories-btn float-right"><i class="fas fa-plus"></i></label>
                                    </div>
                                    <div class="d-categories">
                                        <ul>
                                            <li> Bình đựng nước</li>
                                            <li> Bình dựng rượu</li>
                                            <li> Bình đựng chất hóa học</li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="filter">
                            <div class="filter-price">
                                <a href=""><h5>Giá</h5></a>
                                <div class="pb-3 d-flex justify-content-around">
                                    <input type="number" placeholder="Tối thiểu"><span class="text-center">-</span>
                                    <input type="number" placeholder="Tối đa">
                                    <button><i class="fa fa-play" aria-hidden="true"></i></button>
                                </div>
                            </div>
                            <div class="capacity">
                                <h5>Dung Tích</h5>
                                <ul>
                                    <li>
                                        <label class="Custom-checkbox"><span>50ml - 200ml</span>
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="Custom-checkbox"><span>200ml - 500ml</span>
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="Custom-checkbox"><span>500ml - 1000ml</span>
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="Custom-checkbox"><span>1000ml - 2000ml</span>
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                            <div class="filter-color">
                                <div class="select-color">
                                    <h5>Màu sắc</h5>
                                    <div class="list-color row">
                                        <a href="#" class="color1 col-2 ml-2 mt-2"
                                           style="background-color: #1c7430"></a>
                                        <a href="#" class="color2 col-2 ml-2 mt-2"
                                           style="background-color: #0069d9"></a>
                                        <a href="#" class="color3 col-1 ml-2 mt-2"
                                           style="background-color: #bd2130"></a>
                                        <a href="#" class="color4 col-1 ml-2 mt-2"
                                           style="background-color: #c8cbcf"></a>
                                        <a href="#" class="color5 col-1 ml-2 mt-2"
                                           style="background-color: #e0a800"></a>
                                        <a href="#" class="color6 col-1 ml-2 mt-2"
                                           style="background-color: #fd7e14"></a>
                                        <a href="#" class="color7 col-1 ml-2 mt-2"
                                           style="background-color:#6610f2 "></a>
                                        <a href="#" class="color8 col-1 ml-2 mt-2"
                                           style="background-color: #1b1e21"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="material mt-4">
                                <h5>Chất Liệu</h5>
                                <ul>
                                    <li>
                                        <label class="Custom-checkbox"><span>PET</span>
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="Custom-checkbox"><span>PP</span>
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="Custom-checkbox"><span>PC</span>
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                        </label>
                                    </li>

                                </ul>
                            </div>
                            <div class="shape mt-4">
                                <h5>Hình Dạng</h5>
                                <ul>
                                    <li><label class="Custom-checkbox"><span>Vuông(16)</span>
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                        </label></li>
                                    <li><label class="Custom-checkbox"><span>Tròn(18)</span>
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                        </label></li>
                                    <li><label class="Custom-checkbox"><span>Trụ(13)</span>
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                        </label></li>
                                    <li><label class="Custom-checkbox"><span>Miệng rộng(10)</span>
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                        </label></li>
                                    <li><label class="Custom-checkbox"><span>Miệng nhỏ(12)</span>
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                        </label></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </aside>
            </div>
            <div class="col-md-9 pl-3">
                <div class="content border-bottom">
                    <!--<Tool Bar>-->
                    <div class="toolbar d-flex justify-content-between align-items-center">
                        <div class="mr-3">
                            <select class="d-block">
                                <option value="0" selected>Tìm kiếm theo</option>
                                <option value="1">Bán chạy.</option>
                                <option value="2">Giá thấp đến cao.</option>
                                <option value="3">Giá cao đến thấp.</option>
                                <option value="4"> Độ phổ biến.</option>
                            </select>
                        </div>
                        <div class="show-style">
                            <ul class="m-0 p-0">
                                <li class="active"><i class="fa fa-th"></i></li>
                                <li><i class="fa fa-align-justify"></i></li>
                                <li><i class="fa fa-th-list"></i></li>
                            </ul>
                        </div>
                        <div class="btn-filter mr-4">
                            <button class="btn btn-dark" data-toggle="modal" data-target="#filter-modal"><span
                                        class="mr-2">Lọc</span><i class="fas fa-filter"></i></button>
                        </div>

                    </div>
                    <!--</Tool Bar>-->

                    <!--<Products List>-->
                    <div class="products-list">
                        <div class="row">
                            <% products.forEach(function (product) { %>
                                <div class="col-lg-4 col-md-6 mb-4">
                                    <div class="card h-100">
                                        <a href="/products/detail/<%= product._id %>">
                                            <div class="img-products"
                                                 style="width: 100%;background-image: url('<%= product.images[0] %>')"></div>
                                        </a>
                                        <div class="card-body">
                                            <h3 class="card-title">
                                                <a href=""><%= product.name %></a>
                                            </h3>
                                            <span class="price"><%= product.price %> VND</span>
                                        </div>
                                        <ul class="m-0">
                                            <li class="material-title text-uppercase"><%= product.material %></li>
                                            <li class="capacity-title"><%= product.capacity %>ml</li>
                                        </ul>
                                    </div>
                                </div>
                            <% }) %>
                        </div>
                    </div>
                    <!--</Products List>-->
                    <div>
                        <ul class="pagination">
                            <% if (current == 1) { %>
                                <a class="disabled" href="#"><li style="width: auto"><</li></a>
                            <% } else { %>
                                    <a href="/products/trang-1"><li><-</li></a>
                            <% } %>

                            <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                            <% if (i !== 1) { %>
                                    <a class="disabled" href="#"><li>...</li></a>
                            <% } %>

                            <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>

                                <% if (i == current) { %>
                                    <a class="is-active" href="#"><li><%= i %></li></a>
                                <% } else { %>
                                        <a href="/products/trang-<%= i %>"><li><%= i %></li></a>
                                <% } %>
                                <% if (i == Number(current) + 4 && i < pages) { %>
                                        <a class="disabled" href="#"><li>...</li></a>
                                <% } %>
                            <% } %>
                            <% if (current == pages) { %>
                                    <a class="disabled" href="#"><li>-></li></a>
                            <% } else { %>
                                    <a href="/products/trang-<%= pages %>"><li style="width: auto">></li></a>
                            <% } %>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal-box">
    <div class="modal fade" id="filter-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Lọc Sản Phẩm.</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <aside>
                        <div class="col-aside">
                            <div class="categories mb-4">
                                <h5>Danh Mục</h5>
                                <ul>
                                    <li>
                                        <div>
                                            <a href="#">Chai Nhựa</a>
                                            <input class="d-none" id="checkbox-modal-1" type="checkbox">
                                            <label for="checkbox-modal-1" class="categories-btn float-right"><i
                                                        class="fas fa-plus"></i></label>
                                        </div>
                                        <div class="d-categories">
                                            <ul>
                                                <li> Chai đựng đồ uống</li>
                                                <li> Chai đựng chất hóa học</li>
                                                <li> Chai đựng dược phẩm</li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li><a href="#">Lọ Nhựa</a>
                                        <input class="d-none" id="checkbox-modal-2" type="checkbox">
                                        <label for="checkbox-modal-2" class="categories-btn float-right"><i
                                                    class="fas fa-plus"></i></label>
                                        <div class="d-categories">
                                            <ul>
                                                <li> Lọ gia vị</li>
                                                <li> Lọ đựng chất hóa học</li>
                                                <li> Lọ đựng mỹ phẩm</li>
                                                <li> Lọ trang trí</li>
                                                <li> Lọ thực phẩm</li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="#">Bình Nhựa</a>
                                        <input class="d-none" id="checkbox-modal-3" type="checkbox">
                                        <label for="checkbox-modal-3" class="categories-btn float-right"><i
                                                    class="fas fa-plus"></i></label>
                                        <div class="d-categories">
                                            <ul>
                                                <li> Bình đựng nước</li>
                                                <li> Bình dựng rượu</li>
                                                <li> Bình đựng chất hóa học</li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="filter">
                                <div class="filter-price">
                                    <a href=""><h5>Giá</h5></a>
                                    <div class="pb-3 d-flex justify-content-around">
                                        <input type="number" placeholder="Tối thiểu"><span class="text-center">-</span>
                                        <input type="number" placeholder="Tối đa">
                                        <button><i class="fa fa-play" aria-hidden="true"></i></button>
                                    </div>
                                </div>
                                <div class="capacity">
                                    <h5>Dung Tích</h5>
                                    <ul>
                                        <li>
                                            <label class="Custom-checkbox"><span>50ml - 200ml</span>
                                                <input type="checkbox">
                                                <span class="checkmark"></span>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="Custom-checkbox"><span>200ml - 500ml</span>
                                                <input type="checkbox">
                                                <span class="checkmark"></span>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="Custom-checkbox"><span>500ml - 1000ml</span>
                                                <input type="checkbox">
                                                <span class="checkmark"></span>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="Custom-checkbox"><span>1000ml - 2000ml</span>
                                                <input type="checkbox">
                                                <span class="checkmark"></span>
                                            </label>
                                        </li>
                                    </ul>

                                </div>
                                <div class="filter-color mt-4">
                                    <div class="select-color">
                                        <h5>Màu sắc</h5>
                                        <div class="list-color row">
                                            <a href="#" class="color1 col-2 ml-2 mt-2"
                                               style="background-color: #1c7430"></a>
                                            <a href="#" class="color2 col-2 ml-2 mt-2"
                                               style="background-color: #0069d9"></a>
                                            <a href="#" class="color3 col-1 ml-2 mt-2"
                                               style="background-color: #bd2130"></a>
                                            <a href="#" class="color4 col-1 ml-2 mt-2"
                                               style="background-color: #c8cbcf"></a>
                                            <a href="#" class="color5 col-1 ml-2 mt-2"
                                               style="background-color: #e0a800"></a>
                                            <a href="#" class="color6 col-1 ml-2 mt-2"
                                               style="background-color: #fd7e14"></a>
                                            <a href="#" class="color7 col-1 ml-2 mt-2"
                                               style="background-color:#6610f2 "></a>
                                            <a href="#" class="color8 col-1 ml-2 mt-2"
                                               style="background-color: #1b1e21"></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="material mt-4">
                                    <h5>Chất Liệu</h5>
                                    <ul class="d-flex justify-content-around">
                                        <li>
                                            <label class="Custom-checkbox"><span>PET</span>
                                                <input type="checkbox">
                                                <span class="checkmark"></span>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="Custom-checkbox"><span>PP</span>
                                                <input type="checkbox">
                                                <span class="checkmark"></span>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="Custom-checkbox"><span>PC</span>
                                                <input type="checkbox">
                                                <span class="checkmark"></span>
                                            </label>
                                        </li>

                                    </ul>
                                </div>
                                <div class="shape mt-4">
                                    <h5>Hình Dạng</h5>
                                    <div class="d-flex justify-content-around">
                                        <ul class="">
                                            <li><label class="Custom-checkbox"><span>Vuông(16)</span>
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </li>
                                            <li><label class="Custom-checkbox"><span>Tròn(18)</span>
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </li>
                                            <li><label class="Custom-checkbox"><span>Trụ(13)</span>
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </li>
                                        </ul>
                                        <ul>
                                            <li><label class="Custom-checkbox"><span>Miệng rộng(10)</span>
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </li>
                                            <li><label class="Custom-checkbox"><span>Miệng nhỏ(12)</span>
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </aside>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-primary">Lọc</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="topBtn">
    <img src="" alt="">
</div>

<!--<Footer>-->
<% include include/footer.ejs %>
<!--</Footer>-->

<script src="/js/lib/jquery-3.3.1.min.js"></script>
<script src="/js/lib/bootstrap.min.js"></script>
<script src="/js/myjs.js"></script>

<!--Thêm class active cho navbar trang categories-->
<script>
    $('.nav-bar li:nth-child(2)').addClass('active')
</script>

</body>
</html>