<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= product.name %> - PETbot</title>
    <link rel="icon" href="/img/logo/logoPETbot.png" type="image/gif" sizes="16x16">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/style-category.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link href="https://fonts.googleapis.com/css?family=Arvo|Noticia+Text|Nunito|PT+Serif|Playfair+Display|Source+Serif+Pro|Vollkorn"
          rel="stylesheet">

</head>
<body>

<!--<Header>-->
<% include include/header.ejs %>
<!--</Header>-->

<div class="container">
    <div class="row">
        &nbsp;
    </div>
</div>
<!--<main>-->
<div class="container">
    <div class="row">
        <!--Đây là nội dung bên trái trang.-->
        <div class="col-12 col-sm-6 left-content">
            <!--Day la cho code Carousel-->
            <div class="carousel slide" id="myCarousel" data-ride="carousel" data-interval="99999">
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item my-carousel-item active">
                        <img style="height: 100%;width: auto;" src="<%= product.images[0] %>"
                             alt="anh1" class="d-block img-fluid">
                        <div class="carousel-caption d-none d-md-block">
                        </div>
                    </div>
                    <div class="carousel-item my-carousel-item">
                        <img style="height: 100%;width: auto" src="<%= product.images[1] %>"
                             alt="anh2" class="img-fluid">
                        <div class="carousel-caption d-none d-md-block">
                        </div>
                    </div>
                    <div class="carousel-item my-carousel-item">
                        <img style="height: 100%;width: auto" src="<%= product.images[2] %>"
                             alt="anh3" class="img-fluid">
                        <div class="carousel-caption d-none d-md-block">
                        </div>
                    </div>
                    <div class="carousel-item  my-carousel-item">
                        <img style="height: 100%;width: auto" src="<%= product.images[3] %>"
                             alt="anh4" class="img-fluid">
                        <div class="carousel-caption d-none d-md-block">
                        </div>
                    </div>
                </div>
                <!--Carousel Indicator here (menu ben duoi de chon anh)-->
                <ol class="carousel-indicators my-carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active">
                        <img class="img-fluid my-img-fluid"
                             src="<%= product.images[0] %>"
                             alt="">
                    </li>
                    <li data-target="#myCarousel" data-slide-to="1">
                        <img class="img-fluid my-img-fluid"
                             src="<%= product.images[1] %>"
                             alt="">
                    </li>
                    <li data-target="#myCarousel" data-slide-to="2">
                        <img class="img-fluid my-img-fluid"
                             src="<%= product.images[2] %>"
                             alt="">
                    </li>
                    <li data-target="#myCarousel" data-slide-to="3">
                        <img class="img-fluid my-img-fluid"
                             src="<%= product.images[3] %>">

                    </li>
                </ol>
                <!--Carousel manual Button.-->
                <a href="#myCarousel" role="button" data-slide="prev" class="carousel-control-prev">
                    <span class="carousel-control-prev-icon my-carousel-control-prev-icon"></span>
                </a>
                <a href="#myCarousel" role="button" data-slide="next" class="carousel-control-next">
                    <span class="carousel-control-next-icon my-carousel-control-next-icon"></span>
                </a>
            </div>

        </div>
        <!--Day la noi dung bên phải trang.-->
        <div class="col-12 col-sm-6">
            <div class="inner">
                <h1 class="product-name"><%= product.name %></h1>
                <div class="price-box box-regular">
                    <span class="regular-price">
                        <span class="price"><%= product.price %> VNĐ</span>
                    </span>
                </div>
                <ul class="list-unstyled">
                    <li>Mã sp: <span><%= product.productCode %></span></li>
                    <li>Tình trạng: <span><%= product.status %></span></li>

                </ul>
                <p class="short-des"><span><%= product.description %></p>
                <form>
                    <div class="pt-4">
                        <div class="product-additional-info">
                            <div class="social-sharing d-flex ">
                                <span class="">Share</span>
                                <ul>
                                    <li class="facebook"><a href="#" title="Share" target="_blank"></a></li>
                                    <li class="twitter"><a href="#" title="Tweet" target="_blank"></a></li>
                                    <li class="googleplus"><a href="#" title="Google+" target="_blank"></a></li>
                                    <li class="pinterest"><a href="#" title="Pinterest" target="_blank"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button type="button" class="contact-btn">Liên hệ với chúng tôi</button>
                    </div>
                    <div class="pt-4">
                        <button class="download-btn d-block"><a  value="Download!" href="/img/file_dowload.jpg"><i class="fas fa-file-download"></i><span class="ml-3">Tải Xuống Chi Tiết</span></a></button>

                    </div>

                </form>
            </div>

        </div>
    </div>

    <div class="row mt-5">
        <div class="col-12">
            <ul class="nav nav-tabs justify-content-center">
                <li class="nav-item active">
                    <a href="#description" class="nav-link active" data-toggle="tab" role="tab">Mô tả</a>
                </li>
                <li class="nav-item">
                    <a href="#review" class="nav-link" data-toggle="tab" role="tab">Đánh giá</a>
                </li>
            </ul>
        </div>
        <div class="tab-content col-12">
            <div role="tabpanel" class="tab-pane fade show active" id="description">
                <p>
                    <b>Mô tả chung</b>
                </p>
                <p><%= product.description %></p>
                <p>
                    <b>Thông Số</b>
                </p>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th scope="col">Thông Số KĨ Thuật</th>
                        <th scope="col">Giá Trị</th>
                        <th scope="col">Đơn vị đo</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">Màu Sắc</th>
                        <td><%= product.color %></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Chất Liệu</th>
                        <td><%= product.material %></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Sức Chứa</th>
                        <td><%= product.capacity %></td>
                        <td>ml</td>
                    </tr>
                    <tr>
                        <th>Hình dạng</th>
                        <td><%= product.shape %></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Kích thước cổ</th>
                        <td><%= product.neckSize %></td>
                        <td>Ø</td>
                    </tr>
                    <tr>
                        <th>Chiều cao</th>
                        <td><%= product.height %></td>
                        <td>mm</td>
                    </tr>
                    <tr>
                        <th>Đường kính</th>
                        <td><%= product.diameter %></td>
                        <td>mm</td>
                    </tr>
                    <tr>
                        <th>Cân nặng</th>
                        <td><%= product.weight %></td>
                        <td>gram</td>
                    </tr>
                    <tr>
                        <th>Vỏ sản phẩm</th>
                        <td><%= product.case %></td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>

            </div>
            <div role="tabpanel" class="tab-pane fade" id="review">
                <form action="#">
                    <div class="row">
                        <div class="col-12">
                            <table class="table table-striped table-bordered">
                                <tbody>
                                <tr>
                                    <td style="width: 50%;"><strong>Đánh giá chung</strong></td>
                                    <td class="text-right">11/11/2018</td>
                                </tr>
                                <tr>
                                    <td colspan="2"><p>Bạn hãy để lại cảm nhận sau khi mua và sử dụng sản phẩm để chúng
                                            tôi có thể phục vụ bạn tốt hơn.</p>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="name" class="col-12 myform-label">Tên của bạn</label>
                        <div class="col-12">
                            <input type="text" id="name" name="name" class="form-control">
                        </div>
                        <label for="review" class="col-12 myform-label">Đánh giá của bạn</label>
                        <div class="col-12">
                            <textarea class="form-control" rows="4" name="review"
                                      id="review">Nhập đánh giá vào đây...</textarea>
                            <div class="help-block"><span class="text-danger">Note:</span> HTML is not translated!</div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-12 col-sm-1 myform-label">Đánh giá</label>
                        <div class="col-12 col-sm">
                            <div class="form-check form-check-inline">
                                <label for="guest1" class="form-check-label mr-1">Bad </label>
                                <input type="radio" name="rating" value="1" id="rate1" autocomplete="off"
                                       class="form-check-input">
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="radio" name="rating" value="2" id="rate2" autocomplete="off"
                                       class="form-check-input">
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="radio" name="rating" id="rate3" autocomplete="off"
                                       class="form-check-input">
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="radio" name="rating" id="rate4" class="form-check-input"
                                       autocomplete="off">
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="radio" name="rating" id="rate5" class="form-check-input"
                                       autocomplete="off">
                                <label for="guest5" class="form-check-label"> Good</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="ml-auto">
                            <a role="button" type="submit" class="btn btn-outline-danger">Continue</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--Ket thuc tab-->
    <div class="module-title">
        <h2>Những sản phẩm liên quan</h2>
        <div class="card-group mt-4">
            <% for(var i = 0 ; i < relateProducts.length ; i++) { %>
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card h-100">
                        <a href="/products/detail/<%= relateProducts[i]._id %>">
                            <div class="img-products"
                                 style="width: 100%;background-image: url('<%= relateProducts[i].images[1] %>')"></div>
                        </a>
                        <div class="card-body">
                            <h3 class="card-title">
                                <a href=""><%= relateProducts[i].name %></a>
                            </h3>
                            <span class="price"><%= relateProducts[i].price %> VND</span>
                        </div>
                        <ul class="m-0">
                            <li class="material-title text-uppercase"><%= relateProducts[i].material %></li>
                            <li class="capacity-title"><%= relateProducts[i].capacity %>ml</li>
                        </ul>
                    </div>
                </div>
            <% } %>
        </div>

    </div>
</div>

<footer class="site-footer border-top">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h6>Về chúng tôi</h6>
                <p class="text-justify">PETBot là một trong những doanh nghiệp nổi tiếng tham gia vào
                    sản xuất, cung cấp và xuất khẩu nhiều loại Chai PET / PP / PC. Các
                    công ty có các đơn vị sản xuất hiện đại của chai PET.
                    Họ có nhà máy sản xuất chai PET. Có sẵn ở dạng tùy chỉnh, máy của họ
                    được sử dụng bởi một số công ty sản xuất để làm nước uống đóng gói,
                    hóa chất gia dụng, dược phẩm, dầu ăn, rượu, chăm sóc thỏ, thuốc trừ sâu, vv</p>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>Sản Phẩm</h6>
                <ul class="footer-links">
                    <li><a href="http://scanfcode.com/category/c-language/">Chai nhựa</a></li>
                    <li><a href="http://scanfcode.com/category/front-end-development/">Hũ nhựa PET</a></li>
                    <li><a href="http://scanfcode.com/category/back-end-development/">Chai NHựa Tiếp</a></li>
                    <li><a href="http://scanfcode.com/category/java-programming-language/">Hũ Nhữa Cái Nữa</a></li>
                </ul>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>liên Hệ</h6>
                <ul class="footer-links">
                    <li><a href="http://scanfcode.com/about/"><i class="fa fa-home" aria-hidden="true"></i><span
                                    class="ml-2">Hà Nội</span></a></li>
                    <li><a href="http://scanfcode.com/contact/"><i class="fa fa-envelope" aria-hidden="true"></i><span
                                    class="ml-2">petbot@gmail.com</span></a></li>
                    <li><a href="http://scanfcode.com/contribute-at-scanfcode/"><i class="fa fa-phone"
                                                                                   aria-hidden="true"></i><span
                                    class="ml-2">0123456789</span></a></li>
                </ul>
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">Copyright &copy; 2019 All Rights Reserved by
                    <a href="#">kanpTeam</a>.
                </p>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="social-icons">
                    <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
                    <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<script src="/js/lib/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/js/lib/bootstrap.js"></script>
<script src="/js/myjs.js"></script>

<script>
    $(document).ready(function () {
        $('.img-child').on('click', '.img', function () {
            var url = $(this).attr('data-url');
            $('.image-root img').attr('src', url);
        });
    });
</script>

</body>
</html>

